<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil do Usuário</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='profilestyle.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css" integrity="sha384-BY+fdrpOd3gfeRvTSMT+VUZmA728cfF9Z2G42xpaRkUGu2i3DyzpTURDo5A6CaLK" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" integrity="sha384-4LISF5TTJX/fLmGSxO53rV4miRxdg84mZsxmO8Rx5jGtp/LbrixFETvWa5a6sESd" crossorigin="anonymous">
<body>
    {% include 'header.html'%}
    <section class="section-container">
        <div class="profile-container">
            
            <div class="perfil">
                <img src="https://images.unsplash.com/photo-1518020382113-a7e8fc38eac9?q=80&w=2034&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Foto de Perfil">
            </div>
            
            <div class="user-info">
                <h1>{{name}}</h1>
                <p><strong>RG:</strong> {{ rg }}</p>
                <p><strong>CPF:</strong> {{ cpf }}</p>
            </div>
        </div>
        <div class="post post-text">
            <div class="post-content" contenteditable="true">
            Escreva aqui seu texto para postagem...
            </div>
            <button>publicar</button>
        </div>
        <div class="post post-publi">
            <div class="post-header">
            <img src="avatar.jpg" alt="Avatar" class="post-avatar">
            <div>
                <div class="post-author">{{name}}</div>
                <div class="post-time">Há 1 hora</div>
            </div>
            </div>
            <div class="post-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod euismod magna sit amet sodales. Nullam varius elit sit amet felis fermentum, in aliquet enim fermentum.
            </div>
        </div>
    </section>
    <section>
        <div class="post">
            <div class="post-header">
                <img src="avatar1.jpg" alt="Avatar" class="post-avatar">
                <div>
                    <div class="post-author">Titulo Anotação</div>
                    <div class="post-time">Há 2 horas</div>
                </div>
            </div>
            <div class="post-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod euismod magna sit amet sodales. Nullam varius elit sit amet felis fermentum, in aliquet enim fermentum.
            </div>
        </div>
        
        <div class="post">
            <div class="post-header">
                <img src="avatar2.jpg" alt="Avatar" class="post-avatar">
                <div>
                    <div class="post-author">Titulo Anotação</div>
                    <div class="post-time">Há 3 horas</div>
                </div>
            </div>
            <div class="post-content">
                Ut vehicula tellus et felis vestibulum fringilla. Phasellus gravida lacus ac eros pharetra aliquet. Fusce vel nunc non ante aliquet bibendum a sit amet lacus.
            </div>
        </div>        
    </section>
    {% include 'footer.html'%}
</body>
</html>
