<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Cadastro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register_style.css') }}">
    <script src="static/js/register.js" defer></script>
</head>
<body>
    {% include 'header_ logged_out.html'%}
    <h2>Cadastro de Cliente</h2>
    <form id="form-register">
        <label for="name">Nome:</label><br>
        <input class="input-register" type="text" id="name" name="name" required><br><br>

        <label for="rg">RG:</label><br>
        <input class="input-register" type="text" id="rg" name="rg" required><br><br>

        <label for="cpf">CPF:</label><br>
        <input class="input-register" type="text" id="cpf" name="cpf" required><br><br>

        <label for="userName">Nome de Usuário:</label><br>
        <input class="input-register" type="text" id="username" name="username" required><br><br>

        <label for="password">Senha:</label><br>
        <input class="input-register" type="password" id="password" name="password" required><br><br>

        <button class="button-submit" type="submit">Cadastrar</button>
    </form>
    {% include 'footer.html'%}
</body>
</html>
